<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <a routerLink="/">Takaisin</a>
    </ion-buttons>
        <ion-title>
          <h3> Corona API</h3>
        </ion-title>
  </ion-toolbar>
</ion-header>
        <div class="ion-align-self-center">
          <h3>{{maa.Country}}</h3>
        </div>
<ion-content>
  <div class = "ion-padding">
    <ion-card>
      <ion-card>
        <ion-list>
                  <ion-item color ="success" *ngIf="maa.NewConfirmed < 1"> Varmistetut tartunnat tänään: {{maa.NewConfirmed}}</ion-item>
                     
                  <ion-item color ="danger" *ngIf="maa.NewConfirmed > 0"> Varmistetut tartunnat tänään: {{maa.NewConfirmed}} </ion-item>
                     
                  <ion-item color ="danger" *ngIf="maa.TotalConfirmed > 0"> Tartunnat yhteensä: {{maa.TotalConfirmed}}</ion-item>

                  <ion-item color ="success" *ngIf="maa.TotalDeaths <= 0">Yhteensä kuolleita: {{maa.TotalDeaths}}</ion-item>

                  <ion-item color ="danger" *ngIf="maa.TotalDeaths >= 1">Yhteensä kuolleita: {{maa.TotalDeaths}}</ion-item>

                  <ion-item></ion-item>

                  <ion-item color="success">Parantuneet: {{maa.TotalRecovered}} </ion-item>  
       </ion-list>
      </ion-card>
    </ion-card>
  </div>
 </ion-content>
